:root {
    --white: #fff;
    --black: #000;
    --bg: #d1cccc;
    --marr: #323232;
    --active: #504c4c;
    --hover: #333;
    --dark-color: #292929;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.calculator {
    border-radius: 10px;
    position: relative;
    padding: 20px;
    max-width: 317px;
    width: 100%;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.05);
    background: var(--bg);
}

.buttons .ac {
    background: #7b7be9;
    color: white;
}

.buttons .delete {
    background: #d56363;
    color: white;
}

.buttons .equal {
    background: #6dd563;
    color: white;
}

.buttons .space {
    background: rgb(87, 78, 78);
    color: white;
}

.buttons .space:disabled {
    background: #aca8a8;
    color: white;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.display-container {
    display: flex;
    flex-direction: column;
}

.show-expr {
    width: 100%;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #9490ac;
    font-size: 16px;
    pointer-events: none;
    margin-bottom: 5px;
}

.display {
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    /* width: 100%; */
    height: 70px;
    border-radius: 6px;
    background: var(--white);
    padding: 0 10px;
}

.buttons button {
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    /* width: 60px; */
    height: 60px;
}

.buttons button.span-two {
    grid-column: span 2;
}

.buttons button.span-four {
    grid-column: span 4;
}

.calculator-header,
.left,
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-header {
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
}

.calculator-header h1 {
    margin-left: 10px;
    z-index: 1000;
    color: var(--black);
}

/* Side Menu */
.side-menu {
    border-radius: 10px 0 0 10px;
    background-color: var(--marr);
    width: 290px;
    height: 100%;
    overflow: auto;
    transition: 0.2s all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.side-menu.active {
    visibility: visible;
    opacity: 1;
}

.side-menu.active+h1 {
    color: var(--white);
}

.side-menu ul {
    padding-top: 70px;
}

.side-menu li {
    border-bottom: 1px solid #444;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: var(--white);
    font-size: 18px;
    cursor: pointer;
}

.side-menu a:hover {
    background-color: var(--hover);
}

.side-menu .type.active-type {
    background: var(--active);
}

#toggle-menu {
    color: var(--white);
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1111;
}

#toggle-menu:hover {
    background-color: var(--white);
    color: var(--black);
}

.side-menu.active+#toggle-menu {
    background: rebeccapurple;
}

/* End Side Menu */
